[Desktop Entry]
Type=Application
Name=CirQuare Wallpaper Setup
Exec=/usr/local/bin/cirquare-set-wallpaper.sh
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
NoDisplay=true
