[Desktop Entry]
Type=Application
Name=CirQuare Theme
Exec=/usr/local/bin/cirquare-set-theme.sh
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
NoDisplay=true
